---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me";

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

---
<BaseLayout pageTitle={pageTitle}>
    <h2>Education</h2>
    <h2>Scholarship</h2>
    <h2>Volunteering</h2>


    <p>Here are a few facts about me:</p>
    <p>My skills are:</p>
    <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>

</BaseLayout>