---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Courses";
---
<BaseLayout pageTitle={pageTitle}>
    <p>Dot points for what I've learnt in all different courses I'm making progress in</p>
    <li>Jad Joubran's Learn Javascript</li>
    <li>TryHackMe's Cybersecurity 101</li>
    <li>Odin's Project</li>
    <li>Leetcode Blind 75</li>
    <li>Blender Donut 2025 tutorial</li>
</BaseLayout>
