---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>Welcome!</h2>
	<p>Here you will find experimentation and possibly bagels</p>
</BaseLayout>