---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Computer Science Projects";
---
<BaseLayout pageTitle={pageTitle}>
    <p>Need images and small descriptions of the projects I've done, then maybe a page for each project just like the blogs</p>
</BaseLayout>
