---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title} >
    <p>On {frontmatter.pubDate.toString().slice(0,10)} from {frontmatter.author}</p>
    <p><em>{frontmatter.description}</em></p>
    <p style="text-align: center;">ê§â ğ“†©à¼ºâœ§à¼»ğ“†ª â ê§‚</p>
    <slot />
</BaseLayout>